<h3 style="margin: 30px;">Employee Details</h3>
<div class="card" style="width: 100%">
    <div class="card-body">
        <div class="card-body">
            <label>
                <h6 class="card-title">First Name :</h6>
            </label> {{employeDetails.firstName}}
        </div>
        <div class="card-body">
            <label>
                <h6 class="card-title">Last Name :</h6>
            </label> {{employeDetails.lastName}}
        </div>
        <div class="card-body">
            <label>
                <h6 class="card-title">Email ID :</h6>
            </label> {{employeDetails.emailId}}
        </div>
    </div>


</div>